<div  class="container">
    <h3><u>Admission Form</u></h3>
    <form>
    <div class="form-group">
        <label for="name">Name </label>
        <input type="text" name="name" id="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <textarea name="adderess" id="address" cols="20" rows="5" class="form-control">
        </textarea><br>
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>&nbsp;&nbsp;
        <select name="gender" id="gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other" selected="selected">Other</option>
        </select>    
    </div>

    <div class="form-group"> 
           <label for="mobile">Mobile</label>
           <input type="number" min="0" name="mobile" id="mobile" class="form-control"> 
     </div>

     <div class="form-group">
        <label for="college">College Name</label>
        <input type="text" name="college" id="college" class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control"> 
    </div>

    <div class="form-group">
        <label for="batch">Batch</label>
        <input type="text" name="batch" id="batch" class="form-control">
    </div>

    <div class="footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>